<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet" async />
	{% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
	<script src="https://unpkg.com/react@15.3.2/dist/react.min.js"></script>
	<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.min.js"></script>
    <title>Banan</title>
	<script>
		var currentPath = "{{ currentPath }}"
	</script>
</head>
<body>
    <div class="container" id="drive-background"></div>
	<script src="{% static "js/main.js" %}"></script>
</body>
</html>